.card {
  background-color: $background-white;
  cursor: pointer;

  &--row {
    display: flex;
    gap: 30px;
    transition: all 0.3s ease;

    &:hover {
      transform: translateX(-5px);
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__row-image {
    height: 86px;
    width: 86px;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: url(../../images/row-image-1.png);
    }

    &--2 {
      background-image: url(../../images/row-image-2.png);
    }

    &--3 {
      background-image: url(../../images/row-image-3.png);
    }

    &--4 {
      background-image: url(../../images/row-image-4.png);
    }

    &--5 {
      background-image: url(../../images/row-image-5.png);
    }

    &--6 {
      background-image: url(../../images/row-image-6.png);
    }

    &--7 {
      background-image: url(../../images/row-image-7.png);
    }

    &--8 {
      background-image: url(../../images/row-image-8.png);
    }

    &--9 {
      background-image: url(../../images/row-image-9.png);
    }
  }

  &__content {
    display: flex;
    margin-top: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;

    @include desktop {
      justify-content: space-between;
      width: calc(100% - 86px - 30px);
      padding-right: 40px;
    }

    @include tablet {
      padding-right: 20px;
    }

    @include mobile {
      margin-top: 6px;
      gap: 6px;
    }

    &--grid {
      padding-inline: 12px;
      display: grid;
      grid-template-columns: 50px 75px;
      justify-content: space-between;
      row-gap: 24px;
      margin-top: 0;

      @include small {
        width: calc(100% - 12px * 2);
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &--mr-160 {
      margin-right: 160px;

      @include tablet {
        margin-right: 0;
      }
    }

    &--mr-168 {
      margin-right: 168px;

      @include tablet {
        margin-right: 0;
      }
    }

    &--bottom {
      grid-column: 1/3;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 18px;

      @include mobile {
        flex-direction: column;
      }
    }
  }

  &__description-items {
    display: flex;
    gap: 18px;

    &--gap-28 {
      gap: 28px;
    }

    @include mobile {
      flex-direction: column;
      gap: 10px;
    }

    &--grid {
      flex-direction: column;
      gap: 6px;
    }
  }

  &__description-title {
    &--grid {
      font-size: 14px;
    }

    @include mobile {
      white-space: nowrap;
    }
  }

  &__description-item {
    display: flex;
    gap: 6px;
    align-items: center;
  }

  &__description-icon {
    height: 18px;
    width: 18px;
    background-position: center;
    background-size: contain;

    &--heart {
      background-image: url(../../images/icons/heart.svg);
    }

    &--message {
      background-image: url(../../images/icons/comment.svg);
    }
  }

  &__description-number {
    font-size: 14px;
    line-height: 100%;

    &--bottom {
      font-size: 12px;
    }
  }

  &--grid {
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  &__grid-image {
    height: 203px;
    width: 100%;
    background-position: center;
    background-size: cover;

    &--1 {
      background-image: url(../../images/grid-image-1.png);
    }

    &--2 {
      background-image: url(../../images/grid-image-2.png);
    }

    &--3 {
      background-image: url(../../images/grid-image-3.png);
    }

    &--4 {
      background-image: url(../../images/grid-image-4.png);
    }

    &--5 {
      background-image: url(../../images/grid-image-5.png);
    }

    &--6 {
      background-image: url(../../images/grid-image-6.png);
    }

    &--7 {
      background-image: url(../../images/grid-image-7.png);
    }

    &--8 {
      background-image: url(../../images/grid-image-8.png);
    }
  }
}
