.main {
  background-color: $background-light;
  z-index: 0;
  position: relative;

  &__content {
    max-width: 1440px;
    padding-inline: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;

    @include small {
      padding-inline: 220px;
    }

    @include desktop {
      padding-inline: 92px;
    }

    @include tablet {
      padding-inline: 40px;
    }

    @include mobile {
      padding-inline: 20px;
    }
  }

  &__background {
    position: absolute;
    width: 315px;
    height: 368px;
    top: 598px;
    left: calc(100% - 260px);
    pointer-events: none;

    background-image: url(../../images/background_2.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    @include small {
      top: 580px;
      left: 80%;
    }

    @include desktop {
      width: 115px;
      height: 168px;
      top: 680px;
      left: 93%;
    }

    @include tablet {
      display: none;
    }
  }

  &__navigation {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 63px;
    gap: 21px;
  }

  &__button {
    border: none;
    height: 24px;
    min-width: 24px;
    background-color: $background-light;
    cursor: pointer;
    opacity: 1;
    transition: all 0.3s ease;

    &:hover {
      opacity: 0.6;
    }

    &--row {
      background-image: url(../../images/icons/row.svg);
      background-position: center;
    }

    &--active.main__button--row {
      background-image: url(../../images/icons/row-blue.svg);
    }

    &--grid {
      display: grid;
      grid-template-columns: repeat(3, 6px);
      grid-gap: 2px;

      & div {
        height: 6px;
        width: 6px;
        background-color: $svg-grey;
      }

      &.main__button--active div {
        background-color: $blue-button;
      }
    }
  }

  &__row-section {
    display: none;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 33px;

    &.active-section {
      display: flex;
    }
  }

  &__load-button {
    height: 28px;
    width: 111px;
    margin: 0 auto;
    display: block;
    font-family: Roboto;
    font-weight: 500;
    font-size: 11px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: $load-grey;
    border: 1px solid $load-grey;
    border-radius: 14px;
    background-color: $background-light;
    margin-bottom: 61px;
    cursor: pointer;
    transition: all 0.3s ease;

    &--grid {
      margin-bottom: 218px;
    }

    &:hover {
      color: $blue-button;
      border-color: $blue-button;
    }
  }

  &__grid-section {
    display: none;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 16px;
    margin-bottom: 16px;

    &.active-section {
      display: grid;
    }

    @include tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
