$white-header: #ffffffab;
$blue-button: #3d8eda;
$gray-input: #dedede;
$gray-light: #ebebeb;
$black: #000000;
$background-light: #fafafa;
$background-white: #ffffff;
$svg-grey: #c8c8c8;
$load-grey: #929292;
